/******************************************************
                  VARIABLES
*******************************************************/
/******************************************************
                  FUNCTIONS
*******************************************************/
/******************************************************
                  BASIC STYLING
*******************************************************/
h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif; }

/******************************************************
                  MODAL STYLING
*******************************************************/
#modalSection {
  position: fixed;
  width: 100%;
  margin-top: -54px;
  z-index: 2;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s; }

#psdExample img {
  width: 100%; }

.hide {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%); }

/******************************************************
                  HEADER SECTION
*******************************************************/
.banner {
  background: url(../img/Banner_img.jpg) right center/cover no-repeat;
  height: 950px;
  margin-top: 54px; }
  @media screen and (max-width: 1200px) {
    .banner {
      background-position: -750px; }
      .banner .banner-text h1 {
        font-size: 3em; }
      .banner .banner-text p {
        width: 300px;
        font-size: 13px;
        line-height: 1.5em; } }

.container {
  height: 100%; }

.header {
  padding-top: 56px; }

.banner-text {
  color: #fff; }
  .banner-text h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px; }
  .banner-text p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    width: 440px;
    font-size: 13px;
    line-height: 13px; }

/******************************************************
                  FIRST SECTION
*******************************************************/
#firstSection {
  padding: 110px 0 75px; }

.content-text h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #222626;
  font-size: 35px;
  line-height: 35px;
  padding: 5px 0;
  margin-bottom: 20px;
  opacity: 0; }

.content-text p {
  font-size: 14;
  padding: 5px 0;
  margin-bottom: 20px;
  color: #959595;
  opacity: 0; }

.content-text .iphone-container {
  position: relative;
  height: 190px; }
  @media screen and (max-width: 1200px) {
    .content-text .iphone-container {
      display: none; } }
  .content-text .iphone-container .iphone {
    position: absolute;
    opacity: 0;
    bottom: -100%;
    left: -150px; }

.content-text-secondary {
  margin-bottom: 155px; }
  .content-text-secondary h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #222626;
    font-size: 35px;
    line-height: 35px;
    padding: 5px 0;
    margin-bottom: 55px; }
  .content-text-secondary p {
    font-size: 13;
    padding: 5px 0;
    margin-bottom: 0;
    color: #959595; }
    .content-text-secondary p strong {
      margin-bottom: 20px; }

/******************************************************
                  GRID SECTION
*******************************************************/
.grid-scroll {
  margin-bottom: 95px; }

.grid-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (400px)[4];
  grid-template-columns: repeat(4, 400px);
  -ms-grid-rows: (280px)[2];
  grid-template-rows: repeat(2, 280px);
  color: #fff; }
  .grid-layout > div {
    padding: 45px;
    opacity: 0; }
    .grid-layout > div h3 {
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-size: 30px;
      line-height: 30px;
      padding: 5px 0;
      margin-bottom: 10px; }
    .grid-layout > div p {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
      padding: 5px 0;
      max-width: 450px;
      margin-bottom: 30px; }
    .grid-layout > div a {
      color: #fff;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 14px; }
      .grid-layout > div a .material-icons {
        vertical-align: middle;
        font-size: 20px; }
  .grid-layout .fa {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); }
  .grid-layout .item-1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    background: #f5989d; }
  .grid-layout .item-2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    background: #615f7d; }
  .grid-layout .item-3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / span 1;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../img/grid-first.jpg) center/cover no-repeat;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/grid-first.jpg) center/cover no-repeat;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/grid-first.jpg) center/cover no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/grid-first.jpg) center/cover no-repeat; }
  .grid-layout .item-4 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / span 1;
    background: #bd8cbf; }
  .grid-layout .item-5 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../img/grid-second.jpg) center/cover no-repeat;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/grid-second.jpg) center/cover no-repeat;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/grid-second.jpg) center/cover no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/grid-second.jpg) center/cover no-repeat; }
    .grid-layout .item-5 p {
      margin-bottom: 46px; }
  .grid-layout .item-6 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / span 1;
    background: #82ca9c; }
  .grid-layout .item-7 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / span 1;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../img/grid-third.jpg) center/cover no-repeat;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/grid-third.jpg) center/cover no-repeat;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/grid-third.jpg) center/cover no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/grid-third.jpg) center/cover no-repeat; }

/******************************************************
                  SECOND BANNER
*******************************************************/
.second-banner {
  height: 874px;
  padding-bottom: 127px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000)), url(../img/background-filter.png) center/cover no-repeat, url(../img/bg-img.jpg) center/cover no-repeat;
  background: -webkit-linear-gradient(transparent, #000), url(../img/background-filter.png) center/cover no-repeat, url(../img/bg-img.jpg) center/cover no-repeat;
  background: -o-linear-gradient(transparent, #000), url(../img/background-filter.png) center/cover no-repeat, url(../img/bg-img.jpg) center/cover no-repeat;
  background: linear-gradient(transparent, #000), url(../img/background-filter.png) center/cover no-repeat, url(../img/bg-img.jpg) center/cover no-repeat;
  color: #fff; }
  .second-banner h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 60px;
    padding: 5px 0;
    line-height: 60px;
    margin-bottom: 15px; }
  .second-banner p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    max-width: 440px;
    padding: 5px 0 10px;
    font-size: 13px;
    line-height: 18px; }
  .second-banner a {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px; }
    .second-banner a .material-icons {
      vertical-align: middle;
      font-size: 20px; }

/******************************************************
                  "REASONS TO GET ON BOARD" SECTION
*******************************************************/
.reasons-bg {
  min-height: 536px;
  background-color: #82ca9c;
  color: #fff; }
  .reasons-bg .reasons h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 35px;
    padding: 5px 0;
    line-height: 35px;
    margin-bottom: 45px; }
  .reasons-bg .reasons .sub-title {
    font-size: 13px;
    margin-bottom: 15px;
    line-height: 1em;
    font-weight: font(semi-bold); }
  .reasons-bg .reasons p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    padding: 5px 0 10px;
    font-size: 14px;
    line-height: 19px; }
  @media screen and (max-width: 796px) {
    .reasons-bg .reasons {
      padding: 100px 0; } }

/******************************************************
                  PLANS SECTION
*******************************************************/
.plan-section {
  min-height: 630px;
  padding: 100px 0 145px; }
  .plan-section .plan-box {
    max-width: 570px;
    height: 380px;
    padding: 53px 40px;
    -webkit-transition: all ease 2s;
    -o-transition: all ease 2s;
    transition: all ease 2s; }
    .plan-section .plan-box .tag, .plan-section .plan-box .disabled-tag {
      font-size: 11px;
      color: #fff;
      line-height: 10px;
      font-weight: 700;
      background: #bd8cbf;
      padding: 8px 12px;
      border: none;
      margin: 5px 0 18px; }
    .plan-section .plan-box .tag {
      background: #bd8cbf; }
    .plan-section .plan-box .disabled-tag {
      background: #e1e1e1; }
    .plan-section .plan-box h2 {
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      color: #2e3b4e;
      font-size: 30px;
      padding: 5px 0 10px;
      line-height: 30px;
      margin-bottom: 5px; }
    .plan-section .plan-box p {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      color: #8297a7;
      font-size: 14px;
      line-height: 20px;
      vertical-align: top;
      margin-bottom: 15px; }
    .plan-section .plan-box .buy-btn {
      background: #82ca9c;
      color: #fff;
      padding: 18px 25px;
      margin-bottom: 20px;
      border: none;
      line-height: 10px;
      font-size: 13px;
      font-family: "Open Sans", sans-serif;
      font-weight: 700; }
    .plan-section .plan-box .device-icons {
      height: 25px; }
      .plan-section .plan-box .device-icons .mac {
        background: url(../img/mac.png) center/cover no-repeat; }
      .plan-section .plan-box .device-icons .windows {
        background: url(../img/windows.png) center/cover no-repeat; }
      .plan-section .plan-box .device-icons .mac,
      .plan-section .plan-box .device-icons .windows {
        display: inline-block;
        width: 25px;
        height: 25px; }

/******************************************************
                  FOOTER
*******************************************************/
footer {
  min-height: 608px;
  background-color: #192431;
  color: #fff;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }
  footer .footer-title {
    font-weight: 600;
    padding: 10px 0;
    margin-bottom: 15px; }
  footer .footer-text {
    vertical-align: top;
    line-height: 23px; }
  footer .footer-input {
    margin-bottom: 10px;
    max-width: 470px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    footer .footer-input input {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      border-radius: 5px 0 0 5px; }
    footer .footer-input button {
      width: 70px;
      color: #fff;
      background-color: #82ca9c;
      border: none;
      border-radius: 0 5px 5px 0; }
      footer .footer-input button i {
        font-size: 32px; }
  footer .footer-input-text {
    max-width: 340px;
    color: #57697f;
    font-size: 12px;
    padding: 5px 0;
    margin-bottom: 15px; }
  footer .footer-list {
    width: 105px; }
    footer .footer-list ul {
      list-style: none;
      padding: 0; }
      footer .footer-list ul li {
        margin-bottom: 5px; }
