$color: (
  light: #fff,
  dark: #222626,
  dark-secondary: #192431,
  dark-blue: #2e3b4e,
  grey: #959595,
  light-grey: #e1e1e1,
  pink: #f5989d,
  purple: #615f7d,
  light-purple: #bd8cbf,
  light-green: #82ca9c,
  light-blue-secondary: #8297a7
);
$font: (
  OpenSans: "Open Sans"
);
$font-weight: (
  small: 300,
  regular: 400,
  semi-bold: 600,
  bold: 700
);

// Functions
@function color($color-name) {
  @return map-get($color, $color-name);
}
@function weight($weight) {
  @return map-get($font-weight, $weight);
}
// Basic Styles

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
}

// Header Section
.banner {
  background: url(../img/Banner_img.jpg) right center / cover no-repeat;
  height: 950px;
}
.container {
  height: 100%;
}
.header {
  padding-top: 56px;
}
.banner-text {
  color: color(light);
  h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: weight(small);
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;
  }
  p {
    font-family: "Open Sans", sans-serif;
    font-weight: weight(regular);
    width: 440px;
    font-size: 13px;
    line-height: 13px;
  }
}

// First content section

.content-text {
  margin-top: 110px;
  margin-bottom: 75px;
  h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: weight(small);
    color: color(dark);
    font-size: 35px;
    line-height: 35px;
    padding: 5px 0;
    margin-bottom: 20px;
  }
  p {
    font-size: 14;
    padding: 5px 0;
    margin-bottom: 20px;
    color: color(grey);
  }
  .iphone-container {
    position: relative;
    height: 190px;
    .iphone {
      position: absolute;
      bottom: 30px;
      left: -150px;
    }
  }
}
.content-text-secondary {
  margin-bottom: 155px;
  h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: weight(small);
    color: color(dark);
    font-size: 35px;
    line-height: 35px;
    padding: 5px 0;
    margin-bottom: 55px;
  }
  p {
    font-size: 13;
    padding: 5px 0;
    margin-bottom: 0;
    color: color(grey);
    strong {
      margin-bottom: 20px;
    }
  }
  .iphone-container {
    position: relative;
    height: 190px;
    .iphone {
      position: absolute;
      bottom: 30px;
      left: -150px;
    }
  }
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(4, 400px);
  grid-template-rows: repeat(2, 280px);
  margin-bottom: 90px;

  color: color(light);
  & > div {
    padding: 45px;

    h3 {
      font-family: "Open Sans", sans-serif;
      font-weight: weight(small);
      font-size: 30px;
      line-height: 30px;
      padding: 5px 0;
      margin-bottom: 10px;
    }
    p {
      font-family: "Open Sans", sans-serif;
      font-weight: weight(regular);
      font-size: 13px;
      line-height: 18px;
      padding: 5px 0;
      margin-bottom: 30px;
    }
    a {
      color: color(light);
      font-family: "Open Sans", sans-serif;
      font-weight: weight(bold);
      font-size: 14px;
      line-height: 14px;
      .material-icons {
        vertical-align: middle;
        font-size: 20px;
      }
    }
  }

  .item-1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    background: color(pink);
  }
  .item-2 {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    background: color(purple);
  }
  .item-3 {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/grid-first.jpg) center / cover no-repeat;
  }
  .item-4 {
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
    background: color(light-purple);
  }
  .item-5 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/grid-second.jpg) center / cover no-repeat;
  }
  .item-6 {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
    background: color(light-green);
  }
  .item-7 {
    grid-row: 2 / span 1;
    grid-column: 4 / span 1;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/grid-third.jpg) center / cover no-repeat;
  }
}

.second-banner {
  height: 874px;
  padding-bottom: 127px;
  background: url(../img/background-filter.png) center / cover no-repeat, url(../img/bg-img.jpg) center / cover no-repeat;
  color: color(light);
  h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: weight(small);
    font-size: 60px;
    padding: 5px 0;
    line-height: 60px;
    margin-bottom: 15px;
  }
  p {
    font-family: "Open Sans", sans-serif;
    font-weight: weight(regular);
    width: 440px;
    padding: 5px 0 10px;
    font-size: 13px;
    line-height: 18px;
  }
  a {
    color: color(light);
    font-family: "Open Sans", sans-serif;
    font-weight: weight(bold);
    font-size: 14px;
    line-height: 14px;
    .material-icons {
      vertical-align: middle;
      font-size: 20px;
    }
  }
}
.reasons_bg {
  height: 536px;
  background-color: color(light-green);
  color: color(light);
}
.reasons {
  h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: weight(small);
    font-size: 35px;
    padding: 5px 0;
    line-height: 35px;
    margin-bottom: 45px;
  }
  .sub-title {
    font-size: 13px;
    margin-bottom: 15px;
    line-height: 1em;
    font-weight: font(semi-bold);
  }
  p {
    font-family: "Open Sans", sans-serif;
    font-weight: weight(regular);
    padding: 5px 0 10px;
    font-size: 14px;
    line-height: 19px;
  }
}

.plan-section {
  height: 630px;
  .plan-box {
    width: 570;
    height: 380px;
    padding: 53px 40px;

    .tag,.disabled-tag {
      font-size: 11px;
      color: color(light);
      line-height: 10px;
      font-weight: weight(bold);
      background: color(light-purple);
      padding: 8px 12px;
      border: none;
      margin: 5px 0 18px;
    }
    .tag{
        background: color(light-purple);
    }
    .disabled-tag{
        background: color(light-grey);
    }
    h2 {
      font-family: "Open Sans", sans-serif;
      font-weight: weight(small);
      color: color(dark-blue);
      font-size: 30px;
      padding: 5px 0 10px;
      line-height: 30px;
      margin-bottom: 5px;
    }
    p {
      font-family: "Open Sans", sans-serif;
      font-weight: weight(regular);
      color: color(light-blue-secondary);
      font-size: 14px;
      line-height: 20px;
      vertical-align: top;
      margin-bottom: 15px;
    }
    .buy-btn {
      background: color(light-green);
      color: color(light);
      padding: 18px 25px;
      margin-bottom: 20px;
      border: none;
      line-height: 10px;
      font-size: 13px;
      font-family: "Open Sans", sans-serif;
      font-weight: weight(bold);
    }
    .device-icons {
      height: 25px;
      .mac {
        background: url(../img/mac.png) center / cover no-repeat;
      }
      .windows {
        background: url(../img/windows.png) center / cover no-repeat;
      }
      .mac,
      .windows {
        display: inline-block;
        width: 25px;
        height: 25px;
      }
    }
  }
}
// <!-- 630 --> SECCION
// <!--caja 570 x 380 --> CAJA PADDING 53 lado 40 alto
